<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


      <div class="title-align">
      <%= image_tag 'left-arrow.png', class: "left-arrow" %>
      <h2 class="title_sign_up">Bonjour !</h2>


      </div>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs form-login">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>

              <div class="form-actions">
                <%= f.button :submit, "ENVOYER LES INSTRUCTIONS", class: "btn btn_inscription" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

          </div>

    </div>
  </div>
</div>
