<div class="cont-event">
  <div class="cont-link">
      <%= link_to root_path do %>
        <%= image_tag 'left-arrow_white.png', class: "left-arrow" %>
      <% end %>
      <h1 class="title_sign_up">Créer une soirée jeux</h1>
    </div>
  <div class="container">
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
          <%= simple_form_for @event do |f|%>
            <h3>Quand ?</h3>
            <%= f.input :date, as: :string, input_html:{class: "date-calendar", id:"event-btn"}, label: "Date"  %>

            <%= f.input :time, as: :string , input_html:{class: "time-calendar", id:"event-btn"}, label: "Heure"  %>

            <h3>Où ?</h3>
              <div class="cont-places">
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <input type="radio" name="event[place]" value="Chez moi" id="event_place_chez_moi" class = " is-invalid radio_buttons required hidden" aria-invalid="true">
                      <label class= "place-box" for="event_place_chez_moi" id="event-btn"> <i class="fas fa-home"></i>   Chez moi</label>
                    </div>
                    <div>
                      <input type="radio" name="event[place]" value="Bar" id="event_place_bar" class = " is-invalid radio_buttons required hidden" aria-invalid="true">
                      <label class= "place-box" for="event_place_bar" id="event-btn"><i class="fas fa-beer" id="event_place_bar"></i>  Bar à jeux</label>
                    </div>
                </div>
              </div>
            </div>


            <div class="dropdown_address">
              <%= f.input :bar_id, collection: Bar.all.map {|b| ["#{b.name}: #{b.address}", b.id]}, input_html:{id:"event-btn"}, :placeholder => 'Invitez', label: false, include_blank: false %>
            </div>


            <div class="cont-players">
              <h3>Avec qui ?</h3>

              <%= f.label "Nombre de joueurs", id:"nb_players_label" %>
              <div class="col-xs-6 col-xs-offset-3">
                    <div class="number-spinner">
                        <button id="btnminus"><i class="fas fa-minus"></i></button>
                      <input type="number" name= "event[nb_person]" class="form-control text-center" min="2" max="8" value="2" id= "nb_player">
                        <button id="btnplus"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
              <div>
            <div class="friends">
              <%= f.label "Inviter mes amis" %>
                <%= f.input :invitation_emails, collection: User.all.reject {|u| u.email == current_user.email}.map { |u| ["#{u.first_name} #{u.last_name}", u.email] }, input_html:{class:" span8 choices", multiple: true, id:"event-btn" }, label: false %>
            </div>
          </div>

            <%= f.submit "Créer une soirée", class: "btn_all"%>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


