

<h1>Event#new</h1>
<p>Find me in app/views/event/new.html.erb</p>

<%= simple_form_for @event do |f| %>
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.input :place, label: 'bar? ou chez toi?', as: :radio_buttons, collection: ["Chez moi", "Bar"] %>
  <div class="dropdown_address">
   <%= f.input :bar_id, collection: Bar.all.map {|b| ["#{b.name}: #{b.address}", b.id]} %>
  </div>


  <%= f.input :nb_person %>
  <%= f.submit "create" %>
<% end %>
