<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>

<h2><%= @event.creator.first_name %></h2>
<h2><%= @event.creator.last_name %></h2>

<%= @event.date %>
<%= @event.time %>
<%= @event.place %>
<%= @event.nb_person %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
