<div class="home_body">
  <% if user_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt" id="logout"></i>
  <% end %>


   <%= image_tag current_user.photo.url, class: "avatar dropdown-toggle", id: "avatar_home", "data-toggle" => "dropdown" %>

    <%= image_tag "prelude_negatif.png", alt: "prelude logo", class:"prelude_logo_login" %>
    <div class="link_box">
      <!-- <span id="user_name"><%= current_user.first_name %> <%= current_user.last_name %></span> -->
      <%= link_to "Créer une soirée jeux", new_event_path, id: "create_event_btn", class: "button" %>
      <%= link_to "Choisir son jeu", games_search_path, id: "select_game_btn", class: "button" %>
      <%= link_to "Mon profil", user_path(current_user), id: "my_profile_btn", class: "button" %>
    </div>
  <% else %>
    <%= image_tag "prelude_negatif.png", alt: "prelude logo", class:"prelude_logo_logout" %>
    <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, id:"inscription_btn" %>
    <%= link_to t(".sign_in", default: "Déjà membre? Je me connecte"), new_user_session_path, id:"sign_in" %>
  <% end %>
</div>
