<h1><%= @game.name %></h1>
<img src="<%= @game.picture %>" alt="<%= @game.name %>">
<p>De <%= @game.nb_player_min %> à <%= @game.nb_player_max %> joueurs</p>
<p><%= @game.duration %> minutes</p>
<p><%= @game.category %></p>
<p><%= @game.description %></p>
