<div class="container">
  <div class="row">
    <div class="col-sx-12 col-md-6 col-md-offset-3 ">


     <div class="game-box">

       <h1><%= @game.name%></h1>

       <div class="game-img ">
           <img src="<%= @game.picture %>" alt="<%= @game.name %>">
       </div>

        <div class="game-description">
           <p><span>Nombre de joueurs </span>De <%= @game.nb_player_min %> à <%= @game.nb_player_max %> joueurs</p>
           <p><span>Temps de jeu </span> <%= time_for(@game) %></p>
           <p><span>Category </span> <%= @game.category %></p>
           <p class= "game-text"><span>Description </span><%= @game.description%></p>
        </div>

     </div>



   </div>
  </div>
</div>
