<div class="container bg-games">
  <div class="row">
    <div class="col-sx-12 col-md-4 col-md-offset-4">


       <div class="game-box">

        <div class="cont-link">
          <%= link_to '#', onclick: 'history.back()' do %>
            <%= image_tag 'left-arrow.png', class: "left-arrow" %>
          <% end %>
          <h1 class="title_sign_up">Détails du jeu</h1>
        </div>


       <h2><%= @game.name%></h2>

       <div class="game-img ">
           <img src="<%= @game.picture %>" alt="<%= @game.name %>">
       </div>

           <div class="game-stickers"><i class="fas fa-users"></i><p>De <%= @game.nb_player_min %> à <%= @game.nb_player_max %> joueurs</p></div>
           <div class="game-stickers"><i class="fas fa-clock"></i><p> <%= time_for(@game).capitalize %></p></div>
           <div class="game-stickers"><i class="fas fa-tag"></i><p> <%= @game.category %></p></div>
        <div class="cont-desc">
          <span>Description </span>
          <div class="game-description">
             <p class= "game-text"><%= @game.description%></p>
          </div>
        </div>
       </div>
     </div>
   </div>
</div>
