<div>
  <h2 class="title_sign_up">Bonjour !</h2>
  <div class="btn_sign_up" id="btn_sign_up_facebook"><h3 id="btn_h3_facebook">Continuer avec Facebook</h3></div>
  <div class="btn_sign_up btn_sign_up_main"><h3 class="btn_h3">Continuer avec Google</h3></div>
  <div class="btn_sign_up btn_sign_up_main"><h3 class="btn_h3">Continuer avec mon e-mail</h3></div>

   <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Connexion" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
